<!DOCTYPE html>

<html>
    <head>
        <meta name="author" content="Levi Diller">
        <title>recipes</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/general.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <button class="nav-btn" data-url="{{ url_for('home') }}"><b>Home</b></button>
                <button class="nav-btn" data-url="{{ url_for('projects') }}"><b>Projects</b></button>
                <button class="nav-btn" data-url="{{ url_for('contact') }}"><b>Contact</b></button>
                <button class="nav-btn" data-url="{{ url_for('recipes') }}"><b>Recipes</b></button>

                <div class="dropdown">
                    <button class="Background-btn"><b>Background</b></button>
                    <div class="dropdown-content">
                        <button class="dropdown-content-btn"><b>one</b></button>
                        <button class="dropdown-content-btn"><b>two</b></button>
                        <button class="dropdown-content-btn"><b>three</b></button>
                        <button class="dropdown-content-btn"><b>four</b></button>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>Levi was here :p</p>
        </footer>

        <canvas id="Gradient_Shifter"></canvas>
    </body>
</html>

<script src="{{ url_for('static', filename='script/Day-Cycle.js') }}"></script>
<script src="{{ url_for('static', filename='script/Default.js') }}"></script>